.hero__wrapper-link {
  @include vp-767 {
    position: relative;
    display: grid;
    gap: 10px;
    width: fit-content;
    padding: 10px 15px;
    border-radius: 0 0 14px 14px;
    background-color: $color-default-white;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 10px;
      height: 10px;
      right: -10px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
}

.hero {
  position: relative;
}

.hero__swiper {
  padding-top: 38px;
  width: 100%;

  @include vp-1199 {
    padding-top: 35px;
  }
}

.hero__pagination.swiper-pagination {
  position: absolute;
  top: 0;
  bottom: auto;
  left: 0;
  z-index: 1;

  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
  min-height: 40px;
  padding: 10px 20px 12px 20px;

  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -19.5px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/angle-pagination.svg");
  }

  @include vp-767 {
    top: 6px;

    min-height: 28px;
    padding: 10px 16px 20px 16px;

    border-radius: 12px 12px 0 0;

    &::after {
      width: 10px;
      height: 10px;
      bottom: 9px;
      right: -9.5px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}

.hero__pagination-btn {
  width: 10px;
  height: 10px;
  padding: 0;

  background-color: transparent;
  border: 1px solid $color-cerulean-blue;
  border-radius: 50%;
  cursor: pointer;
  opacity: 1;

  transition: background-color 0.3s ease;

  @include vp-767 {
    width: 8px;
    height: 8px;
  }

  &.is-active {
    background-color: $color-cerulean-blue;

    pointer-events: none;
  }
}

.hero__container {
  display: flex;
  align-items: flex-end;
  min-height: 800px;
  padding-top: 100px;
  padding-bottom: 60px;

  @include vp-1199 {
    min-height: 1024px;
    padding-bottom: 60px;
  }

  @include vp-767 {
    min-height: 568px;
    padding-bottom: 20px;
  }
}

.hero__slide-header {
  max-width: 968px;
  padding: 46px 40px 30px 50px;

  background-color: $color-default-white;
  border-radius: 0 30px 30px 0;

  h2 {
    max-width: 968px;
    font-size: 51px;
    line-height: 119%;
    font-weight: 400;
    color: $color-cerulean-blue;
    margin: -1px 0 0;
    border-radius: 0 30px 30px 0;
    background-color: $color-default-white;
  }

  @include vp-1199 {
    max-width: 97%;
    margin-top: 3px;
    padding: 34px 30px 23px 40px;

    h2 {
      max-width: 100%;
      font-size: 34px;
      line-height: 125%;
    }
  }

  @include vp-767 {
    max-width: 100%;
    margin-top: 0;
    padding: 20px 15px 15px 13px;

    border-radius: 0 16px 16px 0;

    h2 {
      max-width: 100%;
      font-size: 20.8px;
      line-height: 126%;
      border-radius: 0 16px 16px 0;
    }
  }
}

.hero__slide-content {
  position: relative;

  display: grid;
  grid-template-columns: 1fr auto;
  gap: 25px;
  align-items: center;
  max-width: 62.3%;
  min-height: 89px;
  margin-top: -1px;
  padding: 0 50px 35px;

  background-color: $color-default-white;
  border-radius: 0 0 30px 30px;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -25px;
    width: 26px;
    height: 26px;
    background-image: url("../img/svg/angle-text.svg");
  }

  @include vp-1199 {
    max-width: 87.3%;
    padding: 0 40px 32px;
    align-items: start;
  }

  @include vp-767 {
    display: block;
    max-width: 90%;
    padding: 0;

    background-color: transparent;

    &::after {
      width: 10px;
      height: 10px;
      right: -10px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
}

.hero__slide-text {
  p {
    max-width: 446px;
    font-size: 15px;
    line-height: 140%;
    margin: 0;
  }

  @include vp-1199 {
    p {
      max-width: 100%;
      line-height: 130%;
    }
  }

  @include vp-767 {
    width: 100%;
    padding: 0 14px 10px;

    background-color: $color-default-white;
    border-radius: 0 0 14px;

    p {
      width: 100%;
      font-size: 13px;
      line-height: 147%;
      border-radius: 0 0 14px;
      background-color: $color-default-white;
    }
  }
}

.hero__btn {
  @include vp-767 {
    width: fit-content;
    padding: 11px 15px 10px;

    border-radius: 0 0 14px 14px;
  }
}

.hero__btn::after {
  @media (min-width: 768px) {
    display: none;
  }
}

.hero__slide-btn {
  margin-top: 11px;

  @include vp-1199 {
    margin-top: 4px;
  }

  @include vp-767 {
    margin-top: 0;
  }
}

.hero__bg-container {
  position: absolute;

  inset: 0;
}

.hero__bg-swiper {
  height: 100%;
}

.hero__bg-swiper-slide {
  width: 100%;
  height: 100%;

  background-color: $color-cerulean-blue;

  &::before {
    content: "";
    position: absolute;

    background-color: rgba(49, 109, 194, 0.2);

    inset: 0;
  }
}

.hero__bg-swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0 10%;
}
