.hero {
  position: relative;

  .swiper-pagination-bullets.swiper-pagination-horizontal {
    width: fit-content;
    height: fit-content;
    left: 0;
    top: auto;
    bottom: 0;
  }

  .container {
    position: absolute;
    min-height: 800px;
    height: 100%;
    width: 100%;
    max-width: 1240px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  @include vp-1260 {
    .swiper-pagination-bullets.swiper-pagination-horizontal {
      left: 100px;
    }
  }

  @include vp-1199 {
    .container {
      min-height: 1024px;
      max-width: 88.28%;
    }

    .swiper-pagination-bullets.swiper-pagination-horizontal {
      left: 0;
    }
  }

  @include vp-767 {
    .container {
      min-height: 568px;
      max-width: 90.62%;
    }
  }
}

.hero__swiper-slide {
  width: 100%;
  min-height: 800px;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #d6e2f3;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.2;
    background-color: $color-cerulean-blue;
    z-index: 1;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include vp-1199 {
    min-height: 1024px;
  }

  @include vp-767 {
    min-height: 568px;
  }
}

.hero__wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  width: 100%;
  max-width: 1240px;
  min-height: 800px;
  height: 100%;
  margin: 0 auto;
  padding: 100px 0 61px;

  @include vp-1199 {
    width: 88.28%;
    min-height: 1024px;
  }

  @include vp-767 {
    width: 90.62%;
    min-height: 568px;
    padding-bottom: 20px;
  }
}

.hero__content {
  position: relative;
  z-index: 1;
  transition-property: height;
  transition-duration: 1ms;

  h2 {
    max-width: 968px;
    padding: 45px 40px 29px 50px;
    font-size: 51px;
    line-height: 119%;
    font-weight: 400;
    color: $color-cerulean-blue;
    margin: -1px 0 0;
    border-radius: 0 30px 30px 0;
    background-color: $color-default-white;
  }

  p {
    max-width: 446px;
    font-size: 15px;
    line-height: 162.5%;
    margin: 0;
  }

  @include vp-1260 {
    margin-left: 100px;
  }

  @include vp-1199 {
    margin: 0;

    h2 {
      max-width: 97.2%;
      padding: 34px 40px 23px;
      font-size: 34px;
      line-height: 125%;
    }

    p {
      max-width: 100%;
      width: 48.22%;
      line-height: 130%;
    }
  }

  @include vp-767 {
    h2 {
      max-width: 100%;
      padding: 20px 13px 15px;
      font-size: 21px;
      line-height: 126%;
      border-radius: 0 16px 16px 0;
    }

    p {
      width: 100%;
      font-size: 13px;
      line-height: 147%;
      padding: 0 14px 10px;
      border-radius: 0 0 14px;
      background-color: $color-default-white;
    }
  }
}

.hero__text {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 30px;
  width: fit-content;
  margin-top: -1px;
  padding: 0 50px 35px;
  border-radius: 0 0 30px 30px;
  background-color: $color-default-white;

  &::after {
    position: absolute;
    content: "";
    top: 0;
    right: -25px;
    width: 26px;
    height: 26px;
    background-image: url("../img/svg/angle-text.svg");
  }

  @include vp-1199 {
    width: 87.17%;
    padding: 0 40px 32px;
  }

  @include vp-767 {
    align-items: start;
    gap: 0;
    width: 90%;
    padding: 0;
    background-color: transparent;

    &::after {
      width: 10px;
      height: 10px;
      right: -10px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
}

.hero__wrapper-link {
  @include vp-767 {
    position: relative;
    display: grid;
    gap: 10px;
    padding: 10px 15px;
    border-radius: 0 0 14px 14px;
    background-color: $color-default-white;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      width: 10px;
      height: 10px;
      right: -10px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
      transform: rotate(90deg);
    }
  }
}

.hero__swiper-pagination {
  position: absolute;
  z-index: 1;
  background-color: $color-default-white;
  border-radius: 20px 20px 0 0;
  padding: 11px 20px;

  .swiper-pagination-bullet {
    background-color: transparent;
    border: 1px solid $color-cerulean-blue;
    opacity: 1;
    width: 10px;
    height: 10px;
  }

  .swiper-pagination-bullet-active {
    background-color: $color-cerulean-blue;
  }

  &::after {
    position: absolute;
    content: "";
    bottom: 0;
    right: -19.5px;
    width: 20px;
    height: 20px;
    background-image: url("../img/svg/angle-pagination.svg");
  }

  @include vp-767 {
    padding: 4px 16px 8px;
    border-radius: 12px 12px 0 0;

    .swiper-pagination-bullet {
      width: 8px;
      height: 8px;
    }

    &::after {
      width: 10px;
      height: 10px;
      right: -9.5px;
      background-image: url("../img/svg/angle-pagination-mobile.svg");
      background-repeat: no-repeat;
    }
  }
}
