.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 52px;
  min-width: 52px;
  background-color: $color-default-white;
  border-radius: 50%;

  &:hover,
  &:focus-visible {
    outline: none;
    opacity: 0.8;
  }

  &:active {
    opacity: 1;
  }
}
